<!--p82,-->
<!--<h1>index page</h1>-->
<!--<p>this is sample page.</p>-->

<!--p86,-->
<!--<h1><%= @title %></h1>-->
<!--<p><%= @msg %></p>-->

<!--p91-->
<!--<h1><%= @title %></h1>-->
<!--<p><%= @msg %></p>-->
<!--<form method='post' action='/helo/index'>-->
<!--    <input type='text' name='input1' value="<%= @value %>">-->
<!--    <input type='submit'>-->
<!--</form>-->

<!--p98-->
<h1><%= @title %></h1>
<p><%= @msg %></p>
<%= form_tag(controller: 'helo', action: 'index') do%>
    <%= text_field_tag('input1')%>
    <%= submit_tag('click')%>
<% end %>